.card {
  border: 3px grey solid;
  border-radius: 5px;
  margin: 5px;
  max-width: 300px;
  text-align: center;
}

.cards img {
  max-width: 150px;
}


.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}